* {
  margin: 0;
  padding: 0;
  /* 在移动端给所有元素设置box-sizing:border-box; 让盒模型计算方式固定为 设置的宽高 不会被padding或者border影响 */
  box-sizing: border-box;
  /* 在移动端去除一些按住高亮的背景色 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 禁止页面文字选择 ，此属性不继承，一般加在body上规定整个body的文字都不会自动调整 */
  -webkit-user-select: none;
  /* 禁止文字自动调整大小(默认情况下旋转设备的时候文字大小会发生变化)，此属性也不继承，一般加在body上规定整个body的文字都不会自动调整  */
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: .14rem;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
input {
  /* input内外边框都去掉 */
  border: 0;
  outline: 0;
}
img {
  /* 设置图标标签对齐方式 中线对齐 解决图片距离块级元素3px间距 */
  vertical-align: middle;
}
input,
button {
  /* 消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式  */
  -webkit-appearance: none;
  /* 去掉IOS移除原生控件样式 */
  -webkit-touch-callout: none;
}
#header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
}
#header [class^="icon-"] {
  background: url('../images/sprites.png') no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  background-size: 2rem 2rem;
  padding: 0.1rem 0.1rem;
}
#header .icon-back {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-position: -0.22rem 0;
}
#header .icon-menu {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-position: -0.6rem 0;
}
#header .icon-logo {
  width: 0.8rem;
  height: 0.45rem;
  display: block;
  background-position: 0 -1.05rem;
}
#header form {
  flex: 1;
  position: relative;
}
#header form input {
  width: 100%;
  height: 0.3rem;
  border-radius: 15px;
  padding-left: 0.4rem;
  font-size: .14rem;
}
#header form i {
  position: absolute;
  top: -0.04rem;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  background-position: -0.6rem -1.09rem !important;
}
#header .login {
  width: 0.5rem;
  text-align: center;
  color: white;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  flex: 1;
}
#footer ul li a {
  display: block;
  text-align: center;
}
#footer ul li a img {
  height: 0.5rem;
  width: 0.6rem;
}
body {
  padding: .4rem 0;
  height: 100vh;
}
#header {
  background-color: #f5f5f5;
  top: 0;
}
#main {
  display: flex;
  height: 100%;
}
#main .categroy-left {
  width: .85rem;
  background-color: #f5f5f5;
}
#main .categroy-left .swiper-container {
  width: 100%;
  height: 100%;
}
#main .categroy-left .swiper-container .swiper-wrapper .swiper-slide {
  height: auto;
}
#main .categroy-left .swiper-container .swiper-wrapper .swiper-slide li a {
  display: block;
  height: .46rem;
  text-align: center;
  line-height: .46rem;
}
#main .categroy-left .swiper-container .swiper-wrapper .swiper-slide li.active a {
  background-color: #fff;
  color: #de181b;
}
#main #categroy-right {
  flex: 1;
}
